{% extends 'base.html' %}

{% block content_title %}
<h1> Welcome to my Python Blog ! </h1>
<h4> This blog discusses about in-depth Python usage as a Web Service Application </h4>
{% endblock %}


{% block page_content %}
<div>
    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <div class="profile-thumbnail">
                <h2>
                    <a href="{{ url_for('posts.post', id=post.id) }}"> {{ post.title }} </a>
                </h2>
                <h4>
                    <img class="img-rounded profile-thumbnal" src={{ post.author.gravatar(size=40) }}>
                    <small> By : {{ post.author.username }}</small>
                </h4>
                <h4>
                    <small> Created on: {{ post.timestamp }}</small>
                </h4>
            </div>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block sidebar %}
<div class="top-pad">
    <ul class="well nav nav-list">
        <li><h4>Tags</h4></li>
    </ul>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    {% if current_user.is_authenticated %}
    <p> Current User: {{ current_user.username }} </p>
    {% else %}
    <p> Current User: Stranger </p>
    {% endif %}
</div>
{% endblock %}

